div.rui-lightbox-scroller{
    overflow-y: auto;
}
div.list-title-bar{
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px dotted #BBBBBB;
    margin-bottom: 6px;
    padding-bottom: 3px;
}
div.list-title-bar:after{

}
.high-light{
    background-color: #fe0;
}
div.list-box,div.board-box{
    background-color:#EEEEFF;
}
div.ch-box{
    /*margin: 0px;*/
    padding: 0px;
    border: 0px;
}
