<div style="width:400px;"></div>
<div class="ch-box ch-leftcolumn list-box" rel="draggable"
     data-draggable="{axis: 'x', handle:$('drag-handler-${list.id}')}">
    <div class="list-title-bar" data-list-id="${list.id}">${list.name}
        <div id="drag-handler-${list.id}" class="list-action-move"></div>
        <div onclick="t.delete_list(${list.id})" class="list-action-delete"></div>
    </div>
    <div id="card-lists-container" style="overflow:auto;">
    #{list list.cards(), as:'card'}
                        #{card card:card/}
                    #{/list}
    </div>
    <div style="width:400px;">
        <form action="@{Application.saveCard()}" enctype="application/x-www-form-urlencoded"
              id="create-card-form-${list.id}" data-list-id="${list.id}"
              onsubmit="return false;">
            <input type="hidden" name="card.list.id" value="${list.id}">
            <input type="text" name="card.name" style="width:350px;">
            <input type="button" class="actions-add" onclick="t.save_card(${list.id})">
        </form>
    </div>
</div>
